@model TConsultigSA.Models.TipoPrestamo

<div class="d-flex">
    <partial name="_Sidebar" /> <!-- Mantener el Sidebar en la página -->

    <div id="page-content-wrapper" style="margin-left: 250px; padding: 20px; flex: 1; overflow-y: auto;">
        <div class="container">
            <!-- Título centrado y con estilo -->
            <h2 class="text-md-center mt-5 mb-5" style="color: #C20114;">Crear Nuevo Tipo de Préstamo</h2>

            <!-- Formulario de creación de tipo de préstamo -->
            <form asp-action="Create" method="post" class="mt-4">
                <div class="form-group">
                    <label asp-for="Descripcion">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <!-- Botones alineados a la izquierda -->
                <div class="row">
                    <div class="col-12 text-left">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
