@model Usuario
@{
    ViewData["Title"] = "Registro";
}

<!-- Contenedor que cubre toda la página con fondo gris oscuro -->
<div style="background-color: #515a5a; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="card" style="display: flex; flex-direction: row; width: 800px; height: 400px; box-shadow: 0px 0px 20px rgba(0,0,0,0.2);">

        <!-- Lado izquierdo: información de registro -->
        <div style="flex: 1; background-color: white; padding: 40px;">
            <h2 class="text-center" style="color: #d10f09;">Registro</h2>
            <form asp-action="Registro" method="post">
                <div class="form-group">
                    <label for="nombre" style="color: #696047;">Nombre de Usuario</label>
                    <input type="text" name="nombre" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="contrasenia" style="color: #696047;">Contraseña</label>
                    <input type="password" name="contrasenia" class="form-control" required />
                </div>

                <!-- Contenedor para los botones alineados uno al lado del otro -->
                <div class="d-flex justify-content-between mt-4" style="gap: 0.5rem;">
                    <button type="submit" class="btn btn-primary" style="width: 48%; background-color: #d10f09; color: white; ">Registrar</button>
                    <a asp-action="Welcome" asp-controller="Home" class="btn btn-secondary" style="width: 48%;">Volver</a>
                </div>
            </form>
        </div>

        <!-- Lado derecho: imagen de fondo -->
        <div style="flex: 1; background-image: url('@Url.Content("~/images/empresaG.jpg")'); background-size: cover; background-position: center;">
            <!-- Este div está vacío porque solo contiene la imagen de fondo -->
        </div>
    </div>
</div>
