@{
    ViewData["Title"] = "Inicio";
}

@section DrawerSection {
    <div class="list-group">
        <a href="/Home/Index" class="list-group-item list-group-item-action">Inicio</a>
        <a href="/Empleados/Index" class="list-group-item list-group-item-action">Empleados</a>
        <a href="/Roles/Index" class="list-group-item list-group-item-action">Roles</a>
        <a href="/Permisos/Index" class="list-group-item list-group-item-action">Permisos</a>
        <a href="/Departamentos/Index" class="list-group-item list-group-item-action">Departamentos</a>
    </div>
}

<h2>Inicio</h2>
<p>Bienvenido a la página principal del sistema.</p>
