@model IEnumerable<TConsultigSA.Models.Empleado>

<div class="container">
    <h2>Seleccione un Empleado</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empleado in Model)
            {
                <tr>
                    <td>@empleado.Nombre</td>
                    <td>
                        <a asp-action="Index" asp-route-idEmpleado="@empleado.Id" class="btn btn-info">Ver Historial</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
